* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding: 20px 5rem;
  height: auto;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.6);
  /* border: 1px solid red; */
}
.grocery-form {
  text-align: center;
}
.groceryContainer {
  visibility: hidden;
  /* border: 1px solid red; */
  margin-top: 2rem;
  padding: 10px 0;
}
.showContainer {
  visibility: visible;
}
.title {
  background-color: aliceblue;
  padding: 3px 0;
  width: 80%;
}
.alert {
  /* color: red; */
  letter-spacing: 2px;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  text-transform: capitalize;
  margin-bottom: 20px;
  transition: all 1.2s ease-in-out;
}
.alert-danger {
  background-color: rgb(238, 94, 94);
}
.alert-success {
  background-color: rgb(21, 211, 21);
}
h2 {
  margin-bottom: 1rem;
}
input {
  padding: 7px;
  border: none;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2), 1px -1px 2px rgb(0, 0, 0, 0.2);
}
.submit {
  padding: 5px;
}
.groceryItem {
  height: 100%;
  display: flex;
  width: 100%;
  /* border: 1px solid green; */
  align-items: center;
  text-transform: capitalize;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.clearBtn {
  border: none;
  margin-top: 20px;
  letter-spacing: 3px;
  color: red;
  text-align: center;
  text-transform: capitalize;
  background: transparent;
  width: 100%;
}
.groceryLists {
  transition: all 2s ease;
}
